# Virtual environment
env/
venv/
.venv/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Django specific files
db.sqlite3
/media/
/staticfiles/
/static/

# Python cache files
*.pyc
__pycache__/

# React build output
build/
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Blockchain-related files (e.g., Truffle, Hardhat)
contracts/build/
artifacts/
cache/

# Coverage directory used by testing tools
coverage/

# VS Code settings (optional)
.vscode/

# JetBrains IDE (PyCharm, WebStorm) project files
.idea/

# Docker ignore
.dockerignore
